
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@300;400;700;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,600;1,700&family=Noto+Sans+Georgian:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;





.loader {
    width: 48px;
    position: absolute;
    height: 48px;
    border: 5px solid #FFF6;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    left:40%;
    top:30%;
    
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
    
    .custom-popup{
      position: fixed;
      z-index: 8;
      top: 12px;
      color: white;
      padding: 5px;
      border-radius: 10px;
      animation: opacity 400ms linear ;
    }
    
    @keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
    
    .opening {
      overflow: hidden;
      animation: open 1500ms ease-out
      
      
    }
    
     @keyframes open {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }
    75% {
      opacity: 0;
      transform: translate(0, 5%)
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    }
    
    .subhero::before{
      content:"";
      position:absolute;
      width: 100%;
      height: 100%;
      background: rgba(0 ,0 ,0 , 0.5);
      z-index: 1;
      left:0;
      
      
      
      animation: open 1000ms ease-out
    }
    
    .fadeOut{
  
  opacity: 0;
  transition: opacity 3500ms linear;
}

.ani{
  animation: opacity 1500ms linear ;
}

.ont-mono{
 font-family: 'Dancing Script', cursive;
 

}

.font-ono{
 font-family: 'Roboto' ;
}
/*
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 */